body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.item {
    width: 32%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.item-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item h2 {
    font-size: 16px;
    margin: 0;
    color: green;
    text-decoration: none;
}

.item p {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
}
a{
    text-decoration: none;
}
a h2:hover{
    color: black;
}

/* .ad {
    position: relative;
}

.ad-image {
    width: 100%;
    height: auto;
} */

/* .ad h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    margin: 0;
} */

/* Media Queries for responsiveness */

/* For screens smaller than 768px (tablets and phones) */
@media (max-width: 767px) {
    .item {
        width: 48%;
        margin-bottom: 20px;
    }

    .ad {
        width: 100%;
    }
}